In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/cars.csv')

## Анализ датасета

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Car_Image       539 non-null    object
 1   Name_and_model  539 non-null    object
 2   Model_type      539 non-null    object
 3   In_Game_Price   539 non-null    object
 4   car_source      539 non-null    object
 5   stock_specs     539 non-null    object
 6   Stock_Rating    539 non-null    object
 7   Drive_Type      539 non-null    object
 8   speed           539 non-null    object
 9   handling        539 non-null    object
 10  acceleration    539 non-null    object
 11  launch          539 non-null    object
 12  braking         539 non-null    object
 13  Offroad         539 non-null    object
 14  Top_Speed       539 non-null    object
 15  0-60_Mph        539 non-null    object
 16  0-100_Mph       539 non-null    object
 17  g-force         539 non-null    object
 18  car_source_1    539 non-null    object
 19  car_source_2    539 non-null    object
 20  Horse_Power     539 non-null    object
 21  Weight_lbs      539 non-null    object
dtypes: object(22)
memory usage: 92.8+ KB

In [4]:
df.head()

,Car_Image,Name_and_model,Model_type,In_Game_Price,car_source,stock_specs,Stock_Rating,Drive_Type,speed,handling,...,braking,Offroad,Top_Speed,0-60_Mph,0-100_Mph,g-force,car_source_1,car_source_2,Horse_Power,Weight_lbs
0,https://www.kudosprime.com/fh5/images/cars/sid...,2001 Acura Integra Type R,RETRO HOT HATCH,"25,000",Autoshow,C,596.0,FWD,5.6,5.1,...,3.4,5.1,155.5 Mph,6.2s,14.7s,0.90 g,info_not_found,info_not_found,195,"2,639"
1,https://www.kudosprime.com/fh5/images/cars/sid...,2002 Acura RSX Type S,RETRO HOT HATCH,"25,000",Autoshow,C,585.0,FWD,5.6,5.1,...,3.5,5.3,info_not_found,info_not_found,info_not_found,info_not_found,info_not_found,info_not_found,200,"2,820"
2,https://www.kudosprime.com/fh5/images/cars/sid...,2017 Acura NSX,MODERN SUPERCARS,"170,000",Autoshow,S1,831.0,AWD,7.0,7.0,...,7.1,4.7,info_not_found,info_not_found,info_not_found,info_not_found,info_not_found,info_not_found,573,"3,803"
3,https://www.kudosprime.com/fh5/images/cars/sid...,1973 Alpine A110 1600s,CLASSIC RALLY,"98,000",Autoshow,C,550.0,RWD,5.0,4.4,...,3.0,5.3,138.0 Mph,7.0s,20.6s,0.84 g,info_not_found,info_not_found,123,"1,576"
4,https://www.kudosprime.com/fh5/images/cars/sid...,2017 Alpine A110,MODERN SPORTS CARS,"67,500",Wheelspin,B,694.0,RWD,6.0,6.4,...,4.2,4.2,info_not_found,info_not_found,info_not_found,info_not_found,Season Event,Festival Playlist,248,"2,432"

In [6]:
from utils import get_df_info

get_df_info(df)

Столбец Car_Image (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 0)

Столбец Name_and_model (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 1)

Столбец Model_type (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 2)

Столбец In_Game_Price (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 3)

Столбец car_source (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 4)

Столбец stock_specs (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 5)

Столбец Stock_Rating (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 6)

Столбец Drive_Type (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 7)

Столбец speed (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 8)

Столбец handling (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 9)

Столбец acceleration (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 10)

Столбец launch (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 11)

Столбец braking (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 12)

Столбец Offroad (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 13)

Столбец Top_Speed (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 14)

Столбец 0-60_Mph (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 15)

Столбец 0-100_Mph (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 16)

Столбец g-force (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 17)

Столбец car_source_1 (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 18)

Столбец car_source_2 (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 19)

Столбец Horse_Power (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 20)

Столбец Weight_lbs (тип object) имеет 0 пропусков из 539 значений, 0.0% (индекс 21)

## Преобразование категориальных признаков в числовые

In [32]:
mt = 'Model_type'

mt_enc = pd.DataFrame({'Model_type':df[mt]})
np.unique(mt_enc)

array(['BUGGIES', 'CLASSIC MUSCLE', 'CLASSIC RACERS', 'CLASSIC RALLY',
       'CLASSIC SPORTS CARS', 'CULT CARS', 'CULT CLASSICS', 'DRIFT CARS',
       'EXTREME TRACK TOYS', 'GT CARS', 'HOT HATCH', 'HYPERCARS',
       'MODERN MUSCLE', 'MODERN RALLY', 'MODERN SPORTS CARS',
       'MODERN SUPERCARS', 'OFFROAD', "PICK-UP & 4X4'S", 'RALLY MONSTERS',
       'RARE CLASSICS', 'RETRO HOT HATCH', 'RETRO MUSCLE', 'RETRO RALLY',
       'RETRO SALOONS', 'RETRO SPORTS CARS', 'RETRO SUPERCARS',
       'RODS AND CUSTOMS', 'SPORTS UTILITY HEROES', 'SUPER GT',
       'SUPER HOT HATCH', 'SUPER SALOONS', 'TRACK TOYS', 'TRUCKS',
       'UNLIMITED BUGGIES', 'UNLIMITED OFFROAD', "UTV'S",
       'VANS AND UTILITY', 'VINTAGE RACERS', 'info_not_found'],
      dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

### Кодирование категорий целочисленными значениями

In [33]:
le = LabelEncoder()
mt_le = le.fit_transform(mt_enc[mt])

In [36]:
mt_unq = np.unique(mt_le)
mt_unq

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38])

In [35]:
le.inverse_transform(np.unique(mt_unq))

array(['BUGGIES', 'CLASSIC MUSCLE', 'CLASSIC RACERS', 'CLASSIC RALLY',
       'CLASSIC SPORTS CARS', 'CULT CARS', 'CULT CLASSICS', 'DRIFT CARS',
       'EXTREME TRACK TOYS', 'GT CARS', 'HOT HATCH', 'HYPERCARS',
       'MODERN MUSCLE', 'MODERN RALLY', 'MODERN SPORTS CARS',
       'MODERN SUPERCARS', 'OFFROAD', "PICK-UP & 4X4'S", 'RALLY MONSTERS',
       'RARE CLASSICS', 'RETRO HOT HATCH', 'RETRO MUSCLE', 'RETRO RALLY',
       'RETRO SALOONS', 'RETRO SPORTS CARS', 'RETRO SUPERCARS',
       'RODS AND CUSTOMS', 'SPORTS UTILITY HEROES', 'SUPER GT',
       'SUPER HOT HATCH', 'SUPER SALOONS', 'TRACK TOYS', 'TRUCKS',
       'UNLIMITED BUGGIES', 'UNLIMITED OFFROAD', "UTV'S",
       'VANS AND UTILITY', 'VINTAGE RACERS', 'info_not_found'],
      dtype=object)

### Кодирование категорий наборами бинарных значений

In [37]:
ohe = OneHotEncoder()

mt_ohe = ohe.fit_transform(mt_enc[[mt]])

In [38]:
mt_ohe.todense()[0:10]

matrix([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.]])

In [39]:
mt_enc.head()

           Model_type
0     RETRO HOT HATCH
1     RETRO HOT HATCH
2    MODERN SUPERCARS
3       CLASSIC RALLY
4  MODERN SPORTS CARS

### Pandas get_dummies - быстрый вариант one-hot кодирования

In [40]:
pd.get_dummies(mt_enc).head()

,Model_type_BUGGIES,Model_type_CLASSIC MUSCLE,Model_type_CLASSIC RACERS,Model_type_CLASSIC RALLY,Model_type_CLASSIC SPORTS CARS,Model_type_CULT CARS,Model_type_CULT CLASSICS,Model_type_DRIFT CARS,Model_type_EXTREME TRACK TOYS,Model_type_GT CARS,...,Model_type_SUPER HOT HATCH,Model_type_SUPER SALOONS,Model_type_TRACK TOYS,Model_type_TRUCKS,Model_type_UNLIMITED BUGGIES,Model_type_UNLIMITED OFFROAD,Model_type_UTV'S,Model_type_VANS AND UTILITY,Model_type_VINTAGE RACERS,Model_type_info_not_found
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0